<ion-view view-title="Dashboard" class="mycolor">
  <ion-content class="padding">
      <h1>Chickens in your Yard</h1>

      <h2 class = "energized">If you like eggs, and pets, you might like to have a chicken coop in your backyard.</h2>

      <p class = "stable">Not all chickens are alike, some are tame and can become very friendly to you and your family, some lay lots of eggs, some lay very few eggs. You want a breed that is fairly low maintenance if you're looking to have a coop in your yard.</p>

      <img ng-src="img/eggs.png" style="width: 250px; height: 250px">

      <p class = "stable">These eggs look great don't they? If you want to raise chickens in your back yard, even in a city yard, be sure to pick the right kind of chicken for you and your family. Not all chickens are alike! <a href="http://modernfarmer.com/2014/07/raising-backyard-chickens-dummies/"/>Here</a> is a nice place to start learning about your backyard chickens!</p>

  </ion-content>
</ion-view>
